# Merging & Cleaning Dataset

### 00 | import libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
path = r'/Users/johntam/cf_data_analysis/tasks/A6/code/raw_data'

cities = ['amsterdam', 'athens', 'barcelona', 'berlin', 'budapest', 'lisbon', 'london', 'paris', 'rome', 'vienna']

data = {}

for city in cities:
    data[str(city) + '_weekends'] = pd.read_csv(os.path.join(path, city + '_weekends.csv'))
    data[str(city) + '_weekdays'] = pd.read_csv(os.path.join(path, city + '_weekdays.csv'))

### 01 | merging data

In [13]:
# combining the weekend and weekday datasets for each city

def combine(weekdays,weekends,city):       
    data[weekdays]['weekends'] = 0
    data[weekends]['weekends'] = 1
    data[weekdays].drop(columns = ['Unnamed: 0'],inplace=True)
    data[weekends].drop(columns = ['Unnamed: 0'],inplace=True)
    merged = pd.concat([data[weekdays], data[weekends]])
    merged['city'] = city
    return merged

In [14]:
amsterdam = combine('amsterdam_weekdays','amsterdam_weekends','amsterdam')
athens = combine('athens_weekdays','athens_weekends','athens')
barcelona = combine('barcelona_weekdays','barcelona_weekends','barcelona')
berlin = combine('berlin_weekdays','berlin_weekends','berlin')
budapest = combine('budapest_weekdays','budapest_weekends','budapest')
lisbon = combine('lisbon_weekdays','lisbon_weekends','lisbon')
london = combine('london_weekdays','london_weekends','london')
paris = combine('paris_weekdays','paris_weekends','paris')
rome = combine('rome_weekdays','rome_weekends','rome')
vienna = combine('vienna_weekdays','vienna_weekends','vienna')

In [17]:
cities = [amsterdam, athens, barcelona, berlin, budapest, lisbon, london, paris, rome, vienna]

eu_data = pd.concat(cities, ignore_index=True)

In [20]:
eu_data.head(10)

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,weekends,city
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,...,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,0,amsterdam
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,...,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,0,amsterdam
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,...,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,0,amsterdam
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,...,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,0,amsterdam
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,...,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,0,amsterdam
5,552.808567,Private room,False,True,3.0,False,0,0,8.0,100.0,...,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376,4.87699,52.38966,0,amsterdam
6,215.124317,Private room,False,True,2.0,False,0,0,10.0,94.0,...,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251,4.91570,52.38296,0,amsterdam
7,2771.307384,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,...,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219,4.88467,52.38749,0,amsterdam
8,1001.804420,Entire home/apt,False,False,4.0,False,0,0,9.0,96.0,...,3.719141,1.196112,106.226456,5.624761,133.876202,9.328686,4.86459,52.40175,0,amsterdam
9,276.521454,Private room,False,True,2.0,False,1,0,10.0,88.0,...,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478,4.87600,52.34700,0,amsterdam

In [21]:
path = r'/Users/johntam/cf_data_analysis/tasks/A6/code'
eu_data.to_csv(os.path.join(path,'eu_data.csv'), index=False)

### 02 | cleaning data

In [22]:
eu_data.describe()

,realSum,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,weekends
count,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.00000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000
mean,279.879591,3.161661,0.291353,0.350204,9.390624,92.628232,1.15876,3.191285,0.681540,294.204105,13.423792,626.856696,22.786177,7.426068,45.671128,0.506837
std,327.948386,1.298545,0.454390,0.477038,0.954868,8.945531,0.62741,2.393803,0.858023,224.754123,9.807985,497.920226,17.804096,9.799725,5.249263,0.499958
min,34.779339,2.000000,0.000000,0.000000,2.000000,20.000000,0.00000,0.015045,0.002301,15.152201,0.926301,19.576924,0.592757,-9.226340,37.953000,0.000000
25%,148.752174,2.000000,0.000000,0.000000,9.000000,90.000000,1.00000,1.453142,0.248480,136.797385,6.380926,250.854114,8.751480,-0.072500,41.399510,0.000000
50%,211.343089,3.000000,0.000000,0.000000,10.000000,95.000000,1.00000,2.613538,0.413269,234.331748,11.468305,522.052783,17.542238,4.873000,47.506690,1.000000
75%,319.694287,4.000000,1.000000,1.000000,10.000000,99.000000,1.00000,4.263077,0.737840,385.756381,17.415082,832.628988,32.964603,13.518825,51.471885,1.000000
max,18545.450285,6.000000,1.000000,1.000000,10.000000,100.000000,10.00000,25.284557,14.273577,4513.563486,100.000000,6696.156772,100.000000,23.786020,52.641410,1.000000

In [28]:
eu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51707 entries, 0 to 51706
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   realSum                     51707 non-null  float64
 1   room_type                   51707 non-null  object
 2   room_shared                 51707 non-null  bool
 3   room_private                51707 non-null  bool
 4   person_capacity             51707 non-null  float64
 5   host_is_superhost           51707 non-null  bool
 6   multi                       51707 non-null  int64
 7   biz                         51707 non-null  int64
 8   cleanliness_rating          51707 non-null  float64
 9   guest_satisfaction_overall  51707 non-null  float64
 10  bedrooms                    51707 non-null  int64
 11  dist                        51707 non-null  float64
 12  metro_dist                  51707 non-null  float64
 13  attr_index                  51707 non-null  float64
 14  attr_index_norm             51707 non-null  float64
 15  rest_index                  51707 non-null  float64
 16  rest_index_norm             51707 non-null  float64
 17  lng                         51707 non-null  float64
 18  lat                         51707 non-null  float64
 19  weekends                    51707 non-null  int64
 20  city                        51707 non-null  object
dtypes: bool(3), float64(12), int64(4), object(2)
memory usage: 7.2+ MB

In [25]:
# checking for NANs
eu_data.isnull().sum()

realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
weekends                      0
city                          0
dtype: int64

In [29]:
# checking for duplicates
eu_data[eu_data.duplicated()]

Empty DataFrame
Columns: [realSum, room_type, room_shared, room_private, person_capacity, host_is_superhost, multi, biz, cleanliness_rating, guest_satisfaction_overall, bedrooms, dist, metro_dist, attr_index, attr_index_norm, rest_index, rest_index_norm, lng, lat, weekends, city]
Index: []

[0 rows x 21 columns]

In [30]:
# checking for mixed data types
for col in eu_data.columns.tolist():
  weird = (eu_data[[col]].applymap(type) != eu_data[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (eu_data[weird]) > 0:
    print (col)